@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200&family=Young+Serif&display=swap');

* {
    font-family: "kanit";
}

/* Tela login */
.container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span {
    font-size: 12px;
}

.container a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button {
    background-color: #ff1515;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button.hidden {
    background-color: transparent;
    border-color: #fff;
}

.container form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in {
    transform: translateX(100%);
}

.sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.social-icons {
    margin: 20px 0;
}

.social-icons a {
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle {
    background-color: #512da8;
    height: 100%;
    background: linear-gradient(to right, #ff1515, #bd0000);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle {
    transform: translateX(50%);
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left {
    transform: translateX(-200%);
}

.container.active .toggle-left {
    transform: translateX(0);
}

.toggle-right {
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right {
    transform: translateX(200%);
}

/* Tela Menu */

#logo {
    width: 110px;
}

#btn {
    border-radius: 25px;
    background-color: red;
    color: white;
    width: 200px;
    height: 50px;
    font-family: sans-serif;
    margin-right: 10px;
}

#btn:hover {
    background: rgb(133, 4, 4);
}

#foto1 {
    margin-left: 200px;
    margin-top: 70px;
    width: 600px;
    height: 600px;
}

#foto2 {
    margin-top: 100px;
}

#texto {
    padding: 20px;
    margin-left: 290px;
    margin-top: 230px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

#texto p {
    font-size: 20px;
}

#texto h1 {
    font-size: bold 40px;
}

#texto1 {
    margin-top: 150px;
    margin-right: 100px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

#texto1 h1 {
    font-size: bold 30px;
}

#texto1 p {
    font-size: 20px;
}

#mapa {
    height: 300px;
    width: 700px;
    border-color: 5px solid black;
}

/* Tela pedidos */

#tabela1 {
    display: flex;
    margin: 0 auto;
    width: 700px;
    justify-content: center;
}

#combo1 {
    background-color: rgba(236, 236, 236, 0.493);
    border-radius: 15px;
    width: 700px;
    height: 230px;
    text-align: center;
    display: flex;
    margin-right: 50px;
}

.textomodal {
    text-align: center;
}

#modal-title {
    margin-left: 250px;
}

#nome {
    margin-left: 100px;
    font-size: 30px;
}

#desc {
    margin-left: 100px;
    font-size: 15px;
    width: 300px;
}

#fotoped {
    margin-top: 15px;
    margin-left: 15px;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

#botao-carrinho {
    margin-right: 40px;
    margin-bottom: 40px;
    border-radius: 25px;
    width: 50px;
    background-color: red;
}

footer {
    margin-top: 200px;
    background-color: rgba(85, 83, 82, 0.185);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

#logoroda {
    width: 100px;
    height: 100px;
}

#footer-heading {
    font-size: 20px;
}

#section-title {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 24px;
}


.cart-table {
    width: 100%;
    border-collapse: collapse;
}

.table-head-item {
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 6px;
    text-transform: uppercase;
}

.second-col,
.third-col {
    width: 26%;
}

.cart-product td {
    padding: 8px 0;
}

.product-identification {
    display: flex;
    align-items: center;
}

.cart-product-image {
    width: 120px;
    height: 70px;
}

.cart-product-title {
    margin-left: 16px;
    font-size: 18px;
}

.cart-product-price {
    font-family: "Raleway", sans-serif;
}

.product-qtd-input {
    width: 48px;
    height: 34px;
    border-radius: 6px;
    border: 2px solid var(--blue);
    text-align: center;
    background: #eee;
}

.remove-product-button {
    margin-left: 12px;
    background: #ff0000;
    color: var(--white);
    padding: 10px 8px;
    border: 0;
    border-radius: 6px;

    transition: filter 0.2s;
}

.remove-product-button:hover {
    filter: brightness(0.8);
}

.cart-total-container {
    border-top: 1px solid var(--gray);
    text-align: center;
    padding: 6px 16px 0 0;
    font-size: 18px;
}

.cart-total-container strong {
    margin-right: 12px;
}

.purchase-button {
    display: flex;
    margin: 24px auto 0;
    background: var(--blue);
    color: var(--white);
    border: 0;
    border-radius: 6px;
    padding: 16px 20px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;

    transition: filter 0.2s;
}

.purchase-button:hover {
    filter: brightness(0.8);
}