@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200&family=Young+Serif&display=swap');

* {
    font-family: "kanit";
}

.logo {
    width: 110px;
}

#btn {
    border-radius: 25px;
    background-color: red;
    color: white;
    width: 200px;
    height: 50px;
    font-family: sans-serif;
    margin-right: 10px;
}

#btn:hover {
    background: rgb(133, 4, 4);
}

.foto1 {
    margin-left: 200px;
    margin-top: 70px;
    width: 600px;
    height: 600px;
}

.foto2 {
    margin-top: 100px;
}

.texto {
    padding: 20px;
    margin-left: 290px;
    margin-top: 230px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

.texto p {
    font-size: 20px;
}

.texto h1 {
    font-size: bold 40px;
}

.texto1 {
    margin-top: 150px;
    margin-right: 100px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

.texto1 h1 {
    font-size: bold 30px;
}

.texto1 p {
    font-size: 20px;
}

.mapa {
    height: 300px;
    width: 700px;
    border-color: 5px solid black;
}

.tabela1 {
    display: flex;
    margin: 0 auto;
    width: 700px;
    justify-content: center;
}



.combo1 {
    background-color: rgba(236, 236, 236, 0.493);
    border-radius: 15px;
    width: 700px;
    height: 230px;
    text-align: center;
    display: flex;
    margin-right: 50px;
}

.textomodal {
    text-align: center;
}

.modal-title {
    margin-left: 250px;
}

.nome {
    margin-left: 100px;
    font-size: 30px;
}

.desc {
    margin-left: 100px;
    font-size: 15px;
    width: 300px;
}

.fotoped {
    margin-top: 15px;
    margin-left: 15px;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.fotomodal {
    margin-top: 15px;
    margin-left: 15px;
    width: 500px;
    height: 500px;
    border-radius: 15px;
}

#botao-carrinho {
    margin-right: 40px;
    margin-bottom: 40px;
    border-radius: 25px;
    width: 50px;
    background-color: red;
}

footer {
    padding: 2rem 0;
    margin-top: 200px;
    background-color: rgba(85, 83, 82, 0.185);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

.roda {
    padding: 20px;
}

.logoroda {
    width: 100px;
    height: 100px;
}

.footer-heading {
    font-size: 20px;
}

.btn_cad {
    margin-top: 10px;
}
